services:
  shokuin-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    user: "1000:1000"
    entrypoint: ["bash", "-c", "chown -R www:www /app && composer run dev"]
