<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ template "styles" . }}
    <title>{{ .title }}</title>
</head>

<body>
    <div class="columns is-vcentered" style="height: 100vh;">
        
        <div class="column"></div>
        <div class="column is-half">
            <div class="box is-align is-centered">
                {{ .message }}
            </div>
        </div>
        <div class="column"></div>

    </div>
</body>

</html>