definitions:
  api_schema.AddItem:
    properties:
      barcode:
        type: string
      name:
        type: string
    type: object
info:
  contact: {}
paths:
  /items:
    post:
      consumes:
      - application/json
      description: Adds a new item. The expiry date must not be older than 30 days.
      parameters:
      - description: Item to add
        in: body
        name: item
        required: true
        schema:
          $ref: '#/definitions/api_schema.AddItem'
      produces:
      - application/json
      responses:
        "204":
          description: No Content
          schema:
            type: string
        "400":
          description: Invalid request body
        "500":
          description: Internal server error
      summary: Add a new item
      tags:
      - item
swagger: "2.0"
