name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "*" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Fmt
        run: go fmt ./...

      - name: Vet
        run: go vet ./...

      - name: Tidy modules
        run: |
          go mod tidy
          go mod verify

      - name: Build
        run: go build -v ./...

      - name: Staticcheck
        run: staticcheck ./...

      - name: GolangCI-Lint
        run: golangci-lint run

      - name: Govulncheck
        run: govulncheck ./...

      